.cardMachines {
    border-radius: 20px;
    background-color: white;
    opacity: 0.95;
    width: auto;
}

.header {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    font-weight: 700;
    text-align: center;
}

.btnTable {
    background-color: brown;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #e6e6e6;
    font-size: calc(3px + 6 * ((100vw - 320px) / 680));
    padding: 5px;

}